{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'user/mystyle.css' %}">

    <section id="form-section">
        <form action="" method="POST">
            <div class="user-circle text-center pb-4 font-weight-bold">
                e-LEARNING
            </div>
            {% csrf_token %}
            <div class="form-fields">
                <div class="label-style">
                    Username
                </div>
                <div class="form-style">
                    <input type="text" name="username">
                </div>
            </div>
            <div class="form-fields">
                <div class="label-style">
                    Password
                </div>
                <div class="form-style">
                    <input type="password" name="password">
                </div>
            </div>
            <center>
                {{form.errors}}
                {% if messages %}
                <ul class="messages bg-warning rounded-pill text-center">
                    {% for message in messages %}
                    <li {% if message.tags %} class=" {{ message.tags }} list-unstyled" {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </center>
            <center>
                <input id="login-submit-btn" type="submit" name="CreateUser" value="Login">
            </center>
            <center>
                <a href="{% url 'reset_password' %}"><i>Forgot Password?</i></a>
            </center>
            <center>
                <p style="padding-top: 4%;">Do not have an account ? <a href="{%url 'register' %}"><b>Register</b></a>
                </p>
            </center>

            <center>
                <i>OR</i>
            </center>
            <center>
                <p style="padding-top: 4%;"><a href="{% url 'contact' %}"><b>Contact Us</b></a>
                </p>
            </center>
        </form>
    </section>
{% endblock %}
