{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'user/mystyle.css' %}">

    <section id="form-section">
        <form action="" method="POST">
            <div class="user-circle text-center pb-4 font-weight-bold">
                Password Reset
            </div>

            <p>
                Oops !! Did you forgot your pasword ?? No worries enter the email you registered with, and we'll mail instructions for setting a new one.
            </p>
            {% csrf_token %}
            <div class="form-fields">
                <!-- <div class="label-style">
                    Username
                </div>
                <div class="form-style">
                    <input type="text" name="username">
                </div> -->

                {{ form }}
            </div>
            
          
            <center>
                <input id="login-submit-btn" type="Submit" name="Send email" value="Send Mail">
            </center>
            <center>
                <p style="padding-top: 4%;">Do not have an account ? <a href="{%url 'register' %}"><b>Register</b></a>
                </p>
            </center>
        </form>
    </section>
{% endblock %}
