{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'user/mystyle.css' %}">

    <section id="form-section">
        <form action="" method="POST">
            <div class="user-circle text-center pb-4 font-weight-bold">
                Password Reset
            </div>

            <p>
                You have to enter your new pasword twice and we will verify you typed it correctly.
            </p>
            {% csrf_token %}
            <div class="form-fields">
                {{ form }}
            </div>
            
          
            <center>
                <input id="login-submit-btn" type="Submit" name="Update Password" value="Update">
            </center>
        </form>
    </section>
{% endblock %}
